<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vts">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/xml"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.VTS"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.TripSummaryReportDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.VehicleSummaryReportDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.VehicleSummaryReportActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditTripActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ReoprttripActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TripDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UserProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SettingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditVehicleActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditDriverActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditOwnerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditRoleActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditUserActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RoleDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TripListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditSiteActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SiteDeteilsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DriverDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddTripActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ManualTripActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.IgnitiononoffActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HaltReportActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.IdleVehiceleReportActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CurentsummaryReportActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PdfViewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".Activity.DayWiseReportActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.OverSppedReportActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DasboradAllVechicleActivity.AllVechicleDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TrackingReportActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ConsolidateReportActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AllReportsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.VechicleDetailslistActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddVehicleActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.KmReportActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.VechicleListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.VehicleHistoryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UserDetillActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.VechicleDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddOwnerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.VehicleOwnerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddDriverActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DriverManagementActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddDeviceActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DeviceActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddSiteActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SiteActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ExcelSheetActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChangePasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddUserActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UserActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddRoleActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RolesActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ForgetPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PRINTActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MovingCarActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PaidMapdrawlineActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MyTripActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="AIzaSyCZaDbXr504SR1ciap1t_jeLl0ghjklhsD" /> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>